@*using Exercises.Models;
    using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Web;
    using System.Web.Mvc;
    using Exercises.Models;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("List Layout", "List", "Product")</li>
            <li>@Html.ActionLink("Tile Layout", "Tile", "Product")</li>
            <li>@Html.ActionLink("Table Layout", "Table", "Product")</li>
        </ul>

    </nav>
    <section id="main-content">@RenderBody()</section>
</body>
</html>
