@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Post Successfull!!!</h2>
<div>
    _______________$$$$___________________$$$$
    _______________$__$$_________________$$__$
    ______________$$___$_________________$___$$
    ______________$$___$_________________$___$$
    _____________$$___$$_________________$___$$
    ____________$$____$__________________$____$$
    __________$$$____$$__________________$$____$$$
    _________$$_____$$____________________$$_____$$
    ________$$______$$____________________$$______$$
    _______$$_______$_______________________$_______$$
    ______$$________$$$$$$$___________$$$$$$$________$$
    __$$$$$_______________$$$_______$$$_______________$$$$
    _$$$____________$$$$____$$_____$$____$$$$____________$$
    $$____________$$$__$$$___$_____$___$$$__$$$___________$
    $____________$$$________$$_____$$________$$$___________$
    $____________$$$$$$____$$_______$$____$$$$$$___________$
    $___________$$____$$$$$$$_______$$$$$$$____$$__________$
    $___________$$$$_______$$_______$$_______$$$$__________$
    $$_________$$__$$$$$$$$$_________$$$$$$$$$__$$________$
    _$$$$_____$$$$________$___________$________$$$$______$$
    __$$$$$____$$$$$$____$$___________$$____$$$$$$____$$$$
    ______$$__$$____$$$$$$_____________$$$$$$____$$__$$
    _______$$$_$$$_____$________________$_____$$$_$$$
    _________$$$$$$$$$$__________________$$$$$$$$$..
</div>
