@model SSGeek.Models.TriviaModel
@using SSGeek.Models;

@{
    ViewBag.Title = "Trivia Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Correct!</h2>
<p>
    That's Right! <strong>@Model.Name!</strong> Neil Armstrong first stepped on the moon on July 20th, 1969.  You Know your space history!
</p>

