@model SSGeek.Models.TriviaModel
@using SSGeek.Models;

@{
    ViewBag.Title = "Trivia Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Incorrect!</h2>
<p>
    That's Incorrect! Don't know your space trivia? You should spend more time studying instead of watching fake space movies <strog>@Model.Name!</strog>
</p>
